#root {
  width: "100%";
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  flex: 1;
}

.score-column {
  background-color: #ffe0b2; /* Customize the background color */
  color: #f57c00; /* Customize the text color */
  font-weight: bold; /* Add any additional styles as needed */
}
.score-column-header {
  background-color: #ffe0b2; /* Customize the header background color */
  color: #9b6937; /* Customize the header text color */
  font-weight: bold; /* Add any additional styles as needed */
}
.css-y1gt6f {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background: #213955 !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #213955de !important;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #5e687469 !important;
}

/* .css-1aj4oji {
  width: 100%;
} */
/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
